---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import News from '../components/News.astro';
import Manifesto from '../components/Manifesto.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Work />
    <News />
    <Manifesto />
    <FAQ />
    <Footer />
  </main>
</Base>
